.product-info {
	width: 50%;
	margin: 0 auto;
	box-sizing: border-box;
    width: 80%;
    min-height: 200px;
	max-height: 700px;
	padding: 30px;
	border: 2px dashed #d57e21;
    border-radius: 60px;
    overflow: auto;
}
